<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="panda_with_camera">
  <!-- 定义全局参数 -->
  <xacro:property name="pi" value="3.14159265359" />
  
  <!-- 导入必要的xacro文件 -->
  <xacro:include filename="$(find robotic_arm)/models/panda/panda.urdf.xacro" />
  <xacro:include filename="$(find robotic_arm)/models/camera/camera.urdf.xacro" />
  <xacro:include filename="$(find robotic_arm)/models/objects/box.urdf.xacro" />
  <xacro:include filename="$(find robotic_arm)/models/panda/panda.ros2_control.xacro" />
  
  <!-- 创建世界链接 -->
  <link name="world" />
  
  <!-- 添加Panda机械臂，连接到世界 -->
  <joint name="panda_base_joint" type="fixed">
    <parent link="world" />
    <child link="panda_link0" />
    <origin xyz="0 0 0.5" rpy="0 0 0" />
  </joint>
  
  <!-- 包含Panda机械臂 -->
  <xacro:panda arm_id="panda" />
  
  <!-- 添加相机到panda_hand链接 -->
  <xacro:camera prefix="camera" parent="panda_hand">
    <origin xyz="0 0 0.1" rpy="0 ${pi/4} 0" />
  </xacro:camera>
  
  <!-- 添加可抓取的盒子对象 -->
  <xacro:box prefix="red_box" parent="world" mass="0.1" size_x="0.05" size_y="0.05" size_z="0.05" color_r="1" color_g="0" color_b="0" color_a="1">
    <origin xyz="0.5 0 0.425" rpy="0 0 0" />
  </xacro:box>
  
  <!-- 添加ros2_control配置，明确指定initial_positions_file -->
  <xacro:panda_ros2_control 
    name="PandaController" 
    initial_positions_file="$(find robotic_arm)/config/initial_positions.yaml"
    ros2_control_hardware_type="mock_components" />
  
  <!-- 添加Gazebo相关配置 -->
  <gazebo>
    <plugin name="gazebo_ros2_control" filename="libgazebo_ros2_control.so">
      <parameters>$(find robotic_arm)/config/ros2_controllers.yaml</parameters>
    </plugin>
  </gazebo>
</robot>